/* geral */

@import url('https://fonts.googleapis.com/css2? family = Bebas + Neue & display = swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1200px;
    /* background-color: aquamarine; */
    margin: 0 auto;
}

/* header */

header{
    background-color: red;
    height: 60px;
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
}

.container_header{
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.nav_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: azure; */
    width: 590px;
    height: 100%;
}

.nav_header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
}

/* main */

main{
    margin-top: 60px;
}

.container_banner{
    position: relative;
    height: 730px;
}

.fundo_banner{
    width: 100%;
}

.box_conteudo_banner{
    position: absolute;
    top: 226px;
    left: 121px;
    display: flex;
    flex-direction: column;
}

h1{
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    width: 545px;
    font-weight: 400;
}

hr{
    border-color: #FFAF00;
}

.box_conteudo_banner span{
    color: #F9003D;
    font-size: 53px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 0;
}

.box_conteudo_banner img{
    width: 37px;
}

.container_sobre{
    background-color: #080324;
    height: 690px;
}

.container_sobre h2{
    color: #F9003D;
    font-size: 35px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    text-transform: uppercase;
    padding: 50px;    
}

.box_sobre{
    display: flex;
    justify-content: space-between;
}
.box_sobre img{
    height: 450px;
}

.box_participantes{
    color: white;
}

.box_participantes span{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}

.box_participantes h3{
    color: #FFAF00;
    text-transform: uppercase;
    width: 557px;
    font-size: 35px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    margin: 15px 0;
}

.box_participantes p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 25px;
    width: 592px;
    line-height: 27px;
    font-size: 18px;
}

.info{
    background-image: url(../assets_/imagem-fundo-info.png);
}

.container_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 193px;

}

.info h2{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
}

.box_span{
    width: 289px;
    height: 100px;
    border: 1px solid #A259F7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info span{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
    color: #A259F7;
}

.endereco{
    background-image: url(../assets_/imagem-fundo-endereco.png);
    height: 516px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.endereco h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    font-weight: 400;
    color: #FFAF00;
    text-transform: uppercase;
    width: 899px;
    margin-bottom: 10px;
}

.box_endereco{
    display: flex;
    width: 899px;
    height: 203px;
    background-color: #010010;
    align-items: center;
    border: 2px solid #340B65;
}

.endereco p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: #A259F7;
    width: 435px;
    margin-left: 66px;
}

.img_mapa{
    position: absolute;
    top: 115px;
    right: 302px;
}

/* footer */

footer{
    height: 82px;
    background-color: #F9003D;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer span{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: white;

}

@media (max-width:420px){

    .container_banner{
        display: flex;
        justify-content: center;
        height: 525px;
    }

    .fundo_banner{
        height: 100%;
        width: auto;
    }

    .box_conteudo_banner{
        left: 9%;
        right: 9%;
        top: 120px;
        align-items: center;
    }

    h1{
        width: 90%;
        font-size: 1.85em;
        text-align: center;
    }

    hr{
        width: 90%;
        margin: 30px;
    }
    
    .box_conteudo_banner span{
        font-size: 1.7em;
        margin-top: 10px;
    }

    .box_conteudo_banner img{
        width: 45px;
        margin-top: 35px;
    }
}